[submodule "themes/io.alexheld.site-theme"]
	path = themes/io.alexheld.site-theme
	url = https://github.com/alex-held/io.alexheld.site-theme
[submodule ".tooling"]
	path = .tooling
	url = https://github.com/alex-held/static-site-container
